doctype html
html(ng-app='highstriker')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-cookies.js')
    script(src='/javascripts/angular-route.js')
    script(src='/javascripts/angular-touch.js')
    script(src='/javascripts/highstriker.js')
    script(src='/socket.io/socket.io.js')
  body
    ng-view