<div class="row">
	<div class="col-xs-12">
		<h1>High Striker mobile</h1>
		<p>
			Welcome to High Striker mobile!
		</p>
	</div>
	<!--div class="col-xs-12">
		<h2>What is High Striker mobile?</h2>
		<p>
			Here some short explanation.
		</p>
	</div-->
	<div class="col-xs-12">
		<h2>How to play</h2>
		<button class="btn btn-block btn-lg btn-default" ng-click="showInstructions()">Learn how to play.</button>
	</div>
	<div class="col-xs-12">
		<h2>Play it</h2>
		<button class="btn btn-block btn-lg btn-primary" ng-hide="isInQueue" ng-click="joinQueue()">Enter waiting queue.</button>
		<button class="btn btn-block btn-lg btn-danger" ng-show="isInQueue" ng-click="leaveQueue()">Leave the waiting queue.</button>
	</div>
	<div class="col-xs-12">
		<h2>High score</h2>
		<button class="btn btn-block btn-lg btn-default" ng-click="showHighScore()">Take a look at the current high score.</button>
	</div>
</div>