<div class="row">
	<div class="col-xs-12">
		<h1>Highstriker mobile</h1>
		<p>
			Welcome to Highstriker mobile!
		</p>
	</div>
	<!--div class="col-xs-12">
		<h2>What is Highstriker mobile?</h2>
		<p>
			Here some short explanation.
		</p>
	</div-->
	<div class="col-xs-12">
		<p>
			<button class="btn btn-block btn-lg btn-default" ng-click="showInstructions()">How to play.</button>
		</p>
		<p>
			<button class="btn btn-block btn-lg btn-primary" ng-hide="isInQueue" ng-click="joinQueue()">Play it!</button>
			<button class="btn btn-block btn-lg btn-danger" ng-show="isInQueue" ng-click="leaveQueue()">Cancel</button>
		</p>
		<p>
			<button class="btn btn-block btn-lg btn-default" ng-click="showHighScore()">High score</button>
		</p>
	</div>
</div>